.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-box__messages {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.chat-box__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.chat-box__message:nth-child(even) {
  background-color: #d9d9d9;
}

.chat-box__buttons,
.chat-box__edit-buttons {
  display: flex;
  gap: 10px;
}

.chat-box__button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box__button--edit {
  background-color: #f2f2f2;
}

.chat-box__button--edit:hover {
  background-color: #d9d9d9;
}

.chat-box__button--save {
  background-color: #28a745;
  color: white;
}

.chat-box__button--save:hover {
  background-color: #218838;
}

.chat-box__button--cancel {
  background-color: #dc3545;
  color: white;
}

.chat-box__button--cancel:hover {
  background-color: #c82333;
}

.chat-box__button--delete {
  background-color: #dc3545;
  color: white;
}

.chat-box__button--delete:hover {
  background-color: #c82333;
}

.chat-box__form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chat-box__input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chat-box__button--send {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box__button--send:hover {
  background-color: #0069d9;
}
